$black: #000;
$black-07: rgba(0, 0, 0, .7);

$blue: #2978AE;
$dark-blue: #21769C;
$light-blue: #3776C5;

$brown: #795548;

$gray: #888888;
$dark-gray: #383838;
$light-gray: #DADADA;

$golden: #F3AB48;
$golden-05: rgba(243, 171, 72, .25);

$green: #71A21A;

$purple: #6B5BE2;

$red: #D64B4B;

$salmon: #F16165;

$white: #FFF;
$white-07: rgba(255, 255, 255, .7);
$white-09: rgba(255, 255, 255, .9);